.crsl-listings-wrapper {
  display: flex;
  gap: 1.25rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  align-items: center;
  justify-content: center;
}
.crsl-first-row h2 {
  text-align: center;
  margin-top: 2rem;
  font-weight: 600;
}
.crsl-third-row {
  display: flex;
  justify-content: center;
  gap: 0.375rem;
  margin-bottom: 2rem;
  margin-top: 1.25rem;
}
.crsl-second-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  align-items: center;
}
.crsl-second-row p {
  text-align: center;
}
.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #ccc;
  transition: 0.2s;
}

.dot.active {
  background: #87ceeb;
  transform: scale(1.2);
}
.arrow-left,
.arrow-right {
  width: 1.25rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 0.6;
}

.arrow-left::before,
.arrow-right::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-top: 0.125rem solid #87ceeb;
  border-right: 0.125rem solid #87ceeb;
}

.arrow-left::before {
  transform: rotate(-135deg);
}

.arrow-right::before {
  transform: rotate(45deg);
}
.arrow-left,
.arrow-right,
.dot {
  cursor: pointer;
}
