.gallery {
  display: flex;
  gap: 2.625rem;
  max-width: 75.875rem;
  width: 100%;
  background-color: #f5f5f5;
  padding-right: 1.375em;
  padding-left: 2.625em;
}

.gallery-main {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.625rem;
}
.gallery-image {
  width: 100%;
  max-width: 49.125rem;
}

.gallery-main img {
  width: 100%;
  max-width: 49.125rem;
  height: 32.5rem;
  object-fit: contain;
}

.arrow {
  width: 2.5rem;
  height: 2.5rem;
  border-color: #767676;
}

.arrow-left {
  left: 0.625rem;
}

.arrow-right {
  right: 0.625rem;
}
.gallery-main .arrow-right::before,
.gallery-main .arrow-left::before {
  border-top: 0.125rem solid #767676;
  border-right: 0.125rem solid #767676;
}

.gallery-thumbs {
  width: 10.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  overflow-y: auto;
  max-height: 32.5rem;
}

.thumb {
  height: 9.25rem;
  width: 9.25rem;
  min-height: 9.25rem;
  min-width: 9.25rem;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.15s;
}

.thumb.active {
  opacity: 1;
  border: 0.188rem solid #87ceeb;
}
.gallery-thumbs::-webkit-scrollbar {
  width: 0.5rem;
}

.gallery-thumbs::-webkit-scrollbar-track {
  background: transparent;
}

.gallery-thumbs::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
}

.gallery-thumbs::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.gallery-thumbs {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}
.gallery-thumbs {
  scrollbar-width: thin;
}
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-content {
  max-width: 90dvw;
  height: 100dvh;
  padding: 0.625em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.lightbox .arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  cursor: pointer;
}

.lightbox .arrow-left {
  left: 1.25rem;
}

.lightbox .arrow-right {
  right: 1.25rem;
}

.lightbox-close {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 2em;
  color: white;
  cursor: pointer;
  z-index: 10000;
}
