.contact {
  padding: 32px;
  max-width: 1376px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h2 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
}
.contact h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
}
.gray {
  background-color: #f5f5f5;
}
.white {
  background-color: #fff;
}
.details-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.padded-subtitle {
  margin: 0;
  margin-bottom: 32px;
}
.inq-subtitle {
  margin: 0;
  margin-bottom: 12px;
}
.medalion-group {
  display: flex;
  flex-direction: row;
  gap: 255px;
  justify-content: center;
  width: 100%;
}
.contact-medalions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact-map-wrapper {
  display: flex;
  gap: 8px;
  height: 16px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.contact-map {
  background: yellow;
  width: 100%;
  height: 300px;
  max-width: 1376px;
}
.details-form .card {
  background-color: #fff;
}
