.hp-cards-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 64.313rem;
  padding: 0.75em 0 3em 0;
}

.wawe {
  width: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  max-width: 90rem;
  object-fit: cover;
  height: 1.875rem;
}
.hero {
  position: relative;
  width: 100%;
  max-width: 90rem;
  height: 19.438rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #1e1e1e;
  padding-left: 8.875em;
  padding-right: 1em;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--hero);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.5;
  z-index: 0;
}

.hero > * {
  position: relative;
  z-index: 1;
}
.hero h1 {
  font-size: 4.5em;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.131rem;
  margin-bottom: 0.625rem;
  margin-top: 4rem;
}
.hero h2 {
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 1.375rem;
}
.hero .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
}

.hp-contact {
  display: flex;
  gap: 2.625rem;
  align-items: center;
}

.hp-2-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  max-width: 10.625rem;
  text-align: center;
}
.hp-2-contact p {
  background: #c1e6f5;
  padding: 0.5em;
  border-radius: 0 1rem;
}
.hp-contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 0.125em;
}
.hp-contact-wrapper .buttons {
  display: flex;
  gap: 1rem;
}
.mobile {
  display: none;
}
