.hp-cards-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1029px;
  padding: 12px 0 48px 0;
}

.wawe {
  width: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  max-width: 1440px;
  object-fit: cover;
  height: 30px;
}
.hero {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 311px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #1e1e1e;
  padding-left: 142px;
  padding-right: 16px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--hero);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.5;
  z-index: 0;
}

.hero > * {
  position: relative;
  z-index: 1;
}
.hero h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -2.16px;
  margin-bottom: 10px;
  margin-top: 64px;
}
.hero h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 22px;
}
.hero .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 16px;
}

.hp-contact {
  display: flex;
  gap: 42px;
  align-items: center;
}

.hp-2-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 170px;
  text-align: center;
}
.hp-2-contact p {
  background: #c1e6f5;
  padding: 8px;
  border-radius: 0 16px;
}
.hp-contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 2px;
}
.hp-contact-wrapper .buttons {
  display: flex;
  gap: 16px;
}
