.services .btn-row {
  width: 100%;
  display: flex;
  justify-content: center;
}
.services .card {
  background-color: #fff;
}
.services {
  padding: 0 2em 2em 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 2rem;
}
.services-img {
  width: 100%;
  max-width: 25rem;
  border-radius: 8px;
  flex-shrink: 1;
  min-width: 11.25rem;
}
.s-bottom {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 2rem;
}
.s-bottom .bold {
  width: 100%;
  text-align: center;
}
.serv {
  width: 100%;
  padding-inline: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.s-text {
  min-width: 28.125rem;
  flex: 0 1 auto;
}
.serv h2 {
  margin-top: 2rem;
}
.serv > *:first-child .s-text h2:first-of-type {
  margin-top: 0;
}
.beggining .s-text h2:first-of-type {
  margin-top: 0;
}
.beggining h1 {
  margin-bottom: 2rem;
}
.stan {
  max-width: 18.75rem;
}
.livingroom {
  max-width: 21.875rem;
}
.garden {
  max-width: 21.875rem;
}
