.medalion-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.875rem;
  position: static;
  color: #3f3f3f;
  margin-bottom: 1rem;
}
.medalion-graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.medalion-role {
  font-size: 0.875em;
}
.medalion-hr {
  width: 4.375rem;
  margin-top: 0;
  margin-bottom: 0.438rem;
  height: 0.063rem;
  border: 0;
  border-top: solid 0.063rem #000;
}
.medalion-blue-pettal {
  width: 20.625rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 0 6.25rem 0 6.25rem;

  background-image: linear-gradient(
    180deg,
    #87ceeb 31.57894736842105%,
    #fff 100%
  );
}
.medalion-blue-pettal img {
  position: relative;
  border-radius: 0 6.25rem 0 6.25rem;
  height: 15rem;
  width: 12.5rem;
  top: -3.875rem;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.medalion-person {
  position: relative;
  top: -1.813rem;
}
.medalion-name {
  margin: 0;
  margin-bottom: 0.563rem;
  text-align: center;
}
.medalion-info-wrapper {
  margin-top: 2.625rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.medalion-first-row {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  margin-bottom: 0.625rem;
  gap: 1rem;
}
.medalion-second-row {
  display: flex;
  width: 100%;
  justify-content: center;
}
.marginless {
  margin: 0;
}
