.range-header {
  display: flex;
  justify-content: space-between;
  max-width: 25.125rem;
  margin-bottom: 0.5rem;
}
.range {
  font-size: 0.875em;
}
.range-input {
  max-width: 24.375rem;
  margin-left: 0.375rem;
}
