.toggle-btn {
  display: flex;
  height: 2.5rem;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.5rem;
  border: 0.125rem solid #87ceeb;
  background-color: #ffffff;
  font-size: 1em;
  cursor: pointer;
  min-width: 2.5rem;
}
