.toggle-group .active {
  background-color: #87ceeb;
}
.toggle-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: start;
  max-width: 25.125rem;
}
.toggle-section {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.toggle-section label {
  font-size: 0.875em;
}
