@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";
* {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

b {
  font-weight: bold;
}
.number {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

button {
  font-family: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.price-label {
  display: inline-block;
  background: white;
  border-radius: 0.313rem;
  border: 0.063rem solid #87ceeb;
  padding: 0.125em 0.313em;
  color: #000;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  box-shadow: 0 1px 1px rgba(112, 138, 141, 0.659);
  position: relative;
}

.price-label::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.313em 0.313em 0 0.313em;
  bottom: -0.3em;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.price-label.active {
  background: #c1e6f5;
  color: #1e1e1e;
  border: 0.063rem solid #5bb8e6;
  transform: scale(1.1);
}
.bold-num {
  font-family: "Roboto", sans-serif;
}
