.vert-f {
  width: 100%;
  background-color: #f5f5f5;
}
.vert-line {
  width: 0.063rem;
  border: none;
  border-right: 0.063rem solid #303030;
  height: 1.313rem;
  color: #efefef;
  background-color: #efefef;
  margin: 0;
}
.actual-footer {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 4rem;
  margin: auto;
  min-height: 26.125rem;
  background: #f5f5f5;
  color: #3f3f3f;
  list-style-type: none;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 1.875rem;
  padding: 0.563em 2em 2.063em 2em;
  width: 100%;
}

.middle-footer {
  display: flex;
  flex-direction: column;
}
.bottom-info {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.875rem;
  font-size: 0.875em;
}
.bottom-info a {
  color: #1e1e1e;
}
.bottom-info p {
  color: #595959;
  margin: 0;
}
.icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.icons a {
  height: 2rem;
}
.icons a img {
  width: 2rem;
  aspect-ratio: 1;
}
.actual-footer .start-footer h2,
.actual-footer .middle-footer h2 {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 1.25em;
}
.phone p {
  margin: 0;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mail a {
  text-decoration: none;
  color: #1e1e1e;
}
.mobile {
  display: none;
}
