.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-right: 2rem;
}
.phone,
.mail {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  color: #1e1e1e;
  margin-right: 1rem;
  font-size: 0.875em;
}
.info-line {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 2em;
}
.info-left {
  display: flex;
  align-items: center;
}
.info-right {
  display: flex;
  align-items: center;
  gap: 0.313rem;
}
.logo {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.938em;
  font-weight: normal;
  height: 2.75rem;
  color: #1e1e1e;
}
.main-header-wrapper {
  width: 100%;
  height: 3.75rem;
  padding-inline: 2em;
  background-color: #87ceeb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
}

.main-header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  list-style-type: none;
}

.main-header .active:hover {
  cursor: pointer;
  color: #a80000;
}

.main-header .active {
  color: #a80000;
  text-decoration: none;
}

.nonactive {
  text-decoration: none;
  color: #1e1e1e;
}

.nonactive:hover {
  cursor: pointer;
  color: #a80000;
}
.nav {
  display: flex;
}
.burger {
  width: 30px;
  height: 22px;
  display: none;
  position: relative;
  cursor: pointer;
  z-index: 30;
}

.burger span {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #1e1e1e;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.burger span:nth-child(1) {
  top: 0;
}

.burger span:nth-child(2) {
  top: 9px;
}

.burger span:nth-child(3) {
  top: 18px;
}
.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 7px;
}
.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 7px;
}
.overlay {
  display: none;
}
.mobile-socials {
  display: none;
}
